<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{ J2_TITLE }}</title>
    <meta http-equiv="refresh" content="0; url={{ J2_INDEX }}">
</head>
<body>
    <p>Redirecting to <a href="{{ J2_INDEX }}">{{ J2_TITLE }} Home Page</a> ...</p>
</body>
</html>